*{
    margin: 0px;
    padding: 0px;
}

div {
    border: solid 2px red;
}

.hero {
    display: flex;
}

.hero img {
    height: 280px;
    width: 350px;
}

.item-container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-basis: 20%;
    align-items: center;
}

.item-card {
    height: 150px;
    flex-basis: 150px;
    border: solid 2px black;
}