*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



div {
   
}

.header {
    background-color: #1F2937;
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 40px 30px 30px 30px;
}

.logo {
    color: #F9FAF8;
    margin-top: 5px;
margin-left: 140px;
margin-bottom: 50px;
font-size: 24px;
}

a {
margin: auto;
padding: 40px;
}

a, li {
    color: #F9FAF8;
    display: inline;
    list-style: none;
text-decoration: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    padding-bottom: 130px;
}

.hero button {
    border: solid 1px #3882F6;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    margin-top: 10px;
}

.left{
    margin-left: 100px;
    width: 450px;
}

.left h2, p, button {
    flex: 1;
}

.left p {
    color: #E5E7EB;
    font-weight: 18px;
}

.left h2{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.right img {
    flex: 1;
    margin-right: 100px;
    width: 520px;
    height: 280px;
}

.item-container {
    display: flex;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 80px;
    justify-content: center;
    gap: 20px;
    align-content: center;
width: auto;
height: 160px;
    margin: auto;
}

.item-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.item-header p {
    padding-top: 30px;
}

.item-card {
    vertical-align: top;
    display: inline;
    height: 130px;
    text-align: center;
    flex-basis: 130px;
    border: solid 3px #3882F6;
    border-radius: 10px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-container p {
display: flex;
}

.caption {
display: block;
padding-top: 120px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    width: auto;
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-style:light italic;
}
.prime {
    display: inline;
    width: auto;
    text-align: left;
    padding: 0px;
    margin-left: 220px;
    
}

.sub {
    display: block;
    margin-top: 140px;
    margin-right: 140px;
    width: 350px;
    
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100;
}

.action {
    justify-content: space-evenly;
    background-color: #3882F6;
    color: whitesmoke;
    display: flex;
    height: 130px;
    width: 940px;
    align-items: center;
}
.action button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 19px;
    border: solid 2px whitesmoke;
    color: whitesmoke;
    height: 40px;
    width: 130px;
}

footer {
    display: flex;
    justify-content: center;
font-weight: bold;
background-color: #1F2937;
color: antiquewhite;
    align-items: center;
    height: 80px;
    width: 100%;
}